### Problema: Análisis de ventas de una tienda

**Tareas:**

1. Leer el archivo CSV usando Pandas.

2. Calcular el total de ventas por cada producto (Cantidad × Precio_unitario).

3. Mostrar el producto con mayor venta total.

4. Calcular el total de ingresos de la tienda.

In [7]:
import pandas as pd

df = pd.read_csv('ventas.csv')
df.head()

   Producto  Cantidad  Precio_unitario
0  Camiseta         3              200
1  Pantalón         2              400
2   Zapatos         1              800
3  Camiseta         1              200
4   Zapatos         2              800

In [38]:
df['total_ventas'] = df['Cantidad'] * df['Precio_unitario']
df.head()

   Producto  Cantidad  Precio_unitario  total_ventas
0  Camiseta         3              200           600
1  Pantalón         2              400           800
2   Zapatos         1              800           800
3  Camiseta         1              200           200
4   Zapatos         2              800          1600

In [36]:
df['Producto'][df['total_ventas'].idxmax()]

'Zapatos'

In [35]:
df['total_ventas'].sum()

np.int64(5200)